<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Antonio Martins</title>
    </head>
    <body>
        <img src="{{url_for('static', filename='assets/img/tcc/1.jpg')}}" alt="..." />
        <img src="{{url_for('static', filename='assets/img/tcc/2.jpg')}}" alt="..." />
        <img src="{{url_for('static', filename='assets/img/tcc/3.jpg')}}" alt="..." />
        <img src="{{url_for('static', filename='assets/img/tcc/4.jpg')}}" alt="..." />
        <img src="{{url_for('static', filename='assets/img/tcc/5.jpg')}}" alt="..." />
        <img src="{{url_for('static', filename='assets/img/tcc/6.jpg')}}" alt="..." />
    </body>
</html>
